                if [[ ${tmp_my_code} == "" ]]; then
                    echo "## imwcc1 没有找到助力吗，启用默认助力码"
                for ((n = 0; n < ${#code[*]}; n++)); do
                  if [[ ${code[n]} != "" ]]; then
                    tmp_my_code=${code[n]}
                    break
                  fi
                done
               fi
